/* body background */
body {
  background-color: #fafafa !important;
}
/* hide ads */
[class^="sb_ads"] {
  display: none !important;
}
/* hide header background image */
#sw_im {
  display: none !important;
}
/* hide hover preview trigger */
a.sa_cpt {
  display: none !important;
}
/* hide horizontal scroll-bar */
body {
  min-width: 0 !important;
}
#sw_canvas {
  padding-left: 0 !important;
  margin-left: 196px !important;
}
#sidebar, #results_area {
  float: none !important;
}
#sidebar {
  position: absolute !important;
  top: 100px !important;
  left: 0 !important;
}
.sw_a, .sw_aa {
  width: auto !important;
}
/* show search box full in narrow screen */
#id_h {
  height: 0 !important;
}
/* remove padding */
#sb_foot {
  margin-left: 0 !important;
}
#content {
  padding-right: 0 !important;
}
/* wide results */
/*#content, .sa_cc {
  max-width: none !important;
}*/
