@charset "utf-8";
/*
 * Styles for Original Page
 */
/* /1/help/test.xml */
:root:not(html) {
  display: none !important;
}
/*
 * Styles for tw-
 */
.quote.tweet {
  display: none;
}
.quote.tweet:only-child {
  display: list-item;
}
body {
  font-family: "Lucida Console" !important;
}
