/*
 * Styles for Original Page
 */
/* Old Twitter */
body.page-not-found,
/* New Twitter */
body.loading-body {
  background: transparent !important;
  display: none !important;
}
/* /1/help/test.xml */
:root:not(html) {
  display: none !important;
}
/*
 * Styles for tw-
 */
.quote.tweet {
	display: none !important;
}
a.maybe_shorten_url {
  background-color: #ddd;
}
a.expanded_tco_url {
  background-color: #ff9;
}
a.expanded_url {
  background-color: #9ff;
}
a.expanded_tco_url.expanded_url {
  background-color: #cfc;
}
